[% WRAPPER 'layout.tt' %]
<div data-role="page">
  <div data-role="header"><h1>Moves API Demo - User Profile</h1></div>
  <div data-role="content">
    <ul data-role="listview" data-inset="true">

    <li>
      User ID <p class="ui-li-aside">[% user_id %]</p>
    </li>
    <li>
      Date joined <p class="ui-li-aside">[% UnixDate(profile.firstDate, '%Y/%m/%d %a') %]</p>
    </li>
  </div>
</div>
[% END %][%# WRAPPER %]
